<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.northwestern.cbits.conemo" version="0.0.2" versionCode="1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>CONEMO</name>
    <icon src="icon.png" />
    <description>
       Clinicial usability application designed for University of Sao Paulo.
    </description>
    <author email="m-begale@northwestern.edu" href="http://cbits.northwestern.edu">
		CONEMO
	  </author>
    <content src="index.html" />
</widget>
